**/__pycache__
.*
tmp
*.egg-info/
*.swp
**/*.ipynb
cloudflow/*.out
cloudflow/*.log
**/worker-*.dirlock
**/purge.lock
**/global.lock
dist/
docs/build/
cloudflow/notebooks/docs/
**/.terraform
*.tfstate
*.tfstate.*
*.lock.*
terraform/terraform-notes.txt
terraform/SAVE.mysettings.tfvars
*.pem
*.key
*/.secret
**/*nda*
dev.tfvars
my.tfvars
my.plan
build/
cloudflow/build/
cloudflow/cluster/SAVE.AWSCluster.py
jupyterhub
